<div class="file-list">
  @for (file of selectedFiles(); track file.name) {
    <div class="file-item">
      @if (file.type.startsWith('image/')) {
        <img [src]="file.name" [alt]="file.name" class="thumbnail" />
      } @else {
        <mat-icon>insert_drive_file</mat-icon>
      }
      <span>{{ file.name }}</span>
    </div>
  }
</div>
<form class="input-container">
  <mat-form-field appearance="fill">
    <textarea matInput type="text" [formControl]="control()" required></textarea>
  </mat-form-field>
  <input type="file" #fileInput (change)="handleFileInput($event)" multiple style="display: none" />
  <button mat-icon-button type="button" (click)="handleSend()"><mat-icon>send</mat-icon></button>
  <button mat-icon-button type="button" (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</form>
