<div class="container">
  <div class="message-container" #scrollMe>
    @for (message of messages(); track $index) {
      <div
        class="message"
        [class.user-message]="message.user"
        [class.system-message]="!message.user"
        [@slideIn]="!message.user ? 'in' : null"
      >
        @if (!message.user) {
          <div class="bubble">
            <markdown
              clipboard
              [data]="message.content"
              lineNumbers
              [start]="5"
            ></markdown>
          </div>
        } @else {
          <div class="bubble" [innerHTML]="message.content"></div>
        }
      </div>
    }
  </div>
  @if (isLoading()) {
    <div class="loader-container">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>
    </div>
  }
  <div class="input-container">
    <app-form-field
      type="text"
      [step]="step()"
      [control]="form.controls.message"
      (nextStepEvent)="handleNewInfo($event)"
    ></app-form-field>
  </div>
</div>
